@import url('./variable.css');
*{
    margin:0;
    padding:0;
}
body{
    overflow:hidden;
}

.main{
    width:100%;
    display: flex;
    height: 100vh;
}
header{
    height: 8vh;
    background-color: var(--my-mssg);
    color:var(--text-white);
    display: flex;
    align-items: center;
    padding:0px 15px;
}
.left{
    width:32%;
    height:100%;
    overflow:hidden;
    /* scroll */
}

.left>header{
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dropdown-menu-button{
    background-color: var(--my-mssg);
    border:none;
    margin:0;
    padding:0;
}

.user-list{
    height: 80px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active{
    background-color: var(--selected-chat);
}

.user-list-sub{
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid rebeccapurple; */
}

.avatar{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar>img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.profile-highlight{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 85%;
    width: 75%;
    background-image: url();
}

.profile-highlight p{
    margin: 0;
}

.user-name{
    display: flex;
    justify-content: space-between;
}

.title{
    font-size: 13px;
    font-weight: bold;
}

.time{
    font-size: 13px;
    margin-right: 15px;
}

.highlights{
    font-size: 11px;
}

/* right side styling */
.right{
    width:68%;
    height: 100vh;
}

.right>header{
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    /* z-index: 10 */
}

.chat-box{
    height: 72vh;
}

.current-user{
    width:100%;
    height:12vh;
    border-bottom: 1px solid var(--border);

}

.current-user-sub{
    height: 80px;
    width:90%;
    display: flex;
    align-items: center;
}

.current-avatar{
    width: 20%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-avatar>span{
    height: 70px;
    width: 70px;
    position: relative;
}

span>img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.online{
    height:10px;
    width:10px;
    background-color: var(--online);
    border-radius: 50%;
    position: absolute;
    bottom:6px;
    left:57px;
}

.chat{
    height:58vh;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: scroll;
    background-image: var(--background-img);
    /* background-size:cover */
    /* z-index: -1; */
    background-color: var(--text-white);
    position: sticky;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-info{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.current-title{
    font-size: 18px;
}

.current-highlights{
    font-size: 14px;
    color:var(--text-dark);
}

.user1-container{
    display: flex;
    align-items: center;
}

.user1-msg{
    max-width:70%;
    color: var(--text-dark);
    background-color: var(--selected-chat);
    font-size: 13px;
    border-radius: 10px 10px 10px 0px;
    padding: 16px;
    margin: 2% 2%;
}

.user2-container{
display: flex;
    justify-content: flex-end;
    align-items: center;
}

.user2-msg{
    max-width:70%;
    color: var(--text-light);
    background-color: var(--my-mssg);
    font-size: 13px;
    border-radius: 10px 10px 10px 0px;
    padding: 16px;
    margin: 2% 2%;
}

.message-box{
    width:100%;
    height: 20vh;
    position: sticky;
    bottom: 0;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--text-white);
    border-top: 1px solid var(--border);
}

.count-char{
    font-size: 13px;
    color: var(--my-mssg);
}

.text-box{
    background-color: var(--selected-chat);
    width: 95%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text-box>input{
    border:none;
    width: 85%;
    height: 70%;
    font-size: 15px;
    padding-left: 10px;
    background-color: var(--selected-chat);
}

input:focus{
    outline:none;
}

.send-btn-div{
    height: 70%;
    /* border: 1px solid red; */
}

.send-btn{
    background-color: var(--my-mssg);
    border-radius: 10px;
    color: var(--text-white);
    border:none;
    padding: 0.3rem 0.6rem;
}





