:root{
    --online:#5EE2A0;
    --my-mssg:#00A0AE;
    --text-light:#4D4F5C;
    --text-dark:#43425D;
    --selected-chat:#F5F6FA;
    --border:#F1F1F3;
    --text-white:white;
    --background-img:url("https://i.pinimg.com/originals/f5/05/24/f50524ee5f161f437400aaf215c9e12f.jpg");
}