@font-face{
    font-family: 'NotoColorEmoji';
    src:url(fonts/NotoColorEmoji.ttf) format("trutype");
}

.container{
    max-width: 1200px;
    margin:0 auto;
    text-align:center;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

input{
    width:70%;
    font-size:19px;
    padding:10px;
    margin-bottom:30px;
}

ul{
    font-family: NotoColorEmoji;
    text-align: left;
}

.fade{
    animation: fade 0.25s
    /* background-color: black; */
}

@keyframes fade{
    0% {opacity:0;}
    100%{opacity:0;}
}